<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uyibai.gateway.admin.core.route.mapper.DynRouteFilterMapper">

    <resultMap id="DynRouteFilterVo" type="com.uyibai.gateway.admin.api.model.route.DynRouteFilterVo">
        <result column="id" property="id"/>
        <result column="route_id" property="routeId"/>
        <result column="filter_key" property="filterKey"/>
        <result column="args_value" jdbcType="VARCHAR" property="argsValue"
                typeHandler="com.uyibai.gateway.admin.config.ArgsValueDefinitionTypeHandler"/>
        <result column="status" property="status"/>
        <result column="route_order_num" property="routeOrderNum"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="queryVoListByRouteId" resultMap="DynRouteFilterVo">
        select id,route_id,filter_key,args_value,status,route_order_num,created_at,updated_at
        from dyn_route_filter
        where route_id = #{routeId}
    </select>
</mapper>
